*{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    width: 100%;
    /* background-color: #00ffff; */
    padding-top: 50px;
  
    
}
nav ul{
    /* justify-content: space-evenly; */
    display: flex;  
    justify-content: center;
    margin-right: 100px;
   
}
nav ul li{
    list-style: none;
    margin-bottom: 50px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 50px;
    font-weight: 900;
    
}
nav ul li a:hover{
    color: rgb(0, 94, 255);
    /* text-decoration: underline; */
}
.act, a:hover{
    color: rgb(0, 94, 255);
}
.icon{
    margin-top: -70px;
    margin-left: 80%;
    /* display: flex; */
    

}
.icon a{
    color: black;
}

i{
    margin-left: 20px;
}
i:hover{
    color: rgb(0, 94, 255);
}


.lim{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: block;
    align-items: center;
    margin-top: 50px;
    height: 300px;
    color: white;
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}
h2{
    font-size: 48px;
    padding-top: 40px;
}
hr{
    /* height: 2px; */
    border: 3px solid white;
}

.text{
    font-size: 32px;
    width: 50%;
    margin-left: 25%;
}

.con{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
img{
    width: 150px;
    height: 150px;
}
.com{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.wa h3{
    font-size: 32px;
    /* color: brown; */
}
.wa h5{
    font-size: 16px;
    color: rgb(86, 85, 85);
}

.wa button{
    margin-top: 10px;
    border: none;
    background-color: rgb(89, 42, 42);
    color: white;
    width: 200px;
    font-size: 24px;
    height: 50px;
    border-radius: 10px;
}


.container{
    width: 100%;
    display: flex;
    height: 600px;
    background: rgb(220, 220, 220);
    justify-content: space-evenly;
    margin-top: 50px;
    /* align-items: center; */
}
.fir{
    width: 50%;
    margin-top: 20px;
    border: none;
    outline: none;
    
}
.fir h3{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 24px;
    
}

.fir input ,.fir button{
    margin-top: 5px;
    margin-left: 50px;
    width: 500px;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    
}
#Msg{
    height: 160px;
    /
  
}
.sec{
    width: 50%;
    
}
.sec img{
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-left: 20px;

}
.lab{
    margin-top: 20px;
    margin-left: 30px;
}
label{
    font-size:20px ;
    margin-left: 50px;
    font-weight: 600;
    

}
.fir button{
    width: 200px;
    margin-left: 200px;
    background-color: rgb(61, 44, 44);
    border: none;
    color: white;
    margin-top: 10px;
    
}
.fir button:hover{
    background: rgb(0, 94, 255);
    
}
.fir input{
    outline: none;
    padding-left: 15px;
    border: none;
}












footer{
    width: 100%;
    height: 600px;
    background-color: black;
    margin-top: 150px;
    color: white;
    /* display: flex; */
}
.list{
    display: flex;
    width: 80%;
    margin-left: 10%;
    /* margin-top: 100px; */
    justify-content: space-evenly;
    /* align-items: center; */
}
 .list li{
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
}
.list ul{
    margin-top: 100px;
    font-size: 32px;
    
}

.list ul li:hover{
    color: rgb(0, 94, 255);
}

footer hr{
    margin-top: 50px;
    height: 2px;
}

