*{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    width: 100%;
    /* background-color: #00ffff; */
    padding-top: 50px;
  
    
}
nav ul{
    /* justify-content: space-evenly; */
    display: flex;  
    justify-content: center;
    margin-right: 100px;
   
}
nav ul li{
    list-style: none;
    
    margin-bottom: 50px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 50px;
    font-weight: 900;
    
}
nav ul li a:hover{
    color: rgb(0, 94, 255);
    /* text-decoration: underline; */
}

.act, a:hover{
    color: rgb(0, 94, 255);
    /* text-decoration: underline; */
}









.icon{
    margin-top: -70px;
    margin-left: 80%;
    /* display: flex; */
    

}
i{
    margin-left: 20px;
}
i:hover{
    color: rgb(0, 94, 255);
}


.bi{
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
   
}
img{
    width: 100%;
    height: 600px;
}
.main{
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 250px;
    border-radius: 50px;
    display: block;
    text-align: center;
    margin-top: -450px;
    margin-left: 25%;


}
h1{
    padding-top: 30px;
    font-size: 56px;
}

.main h3{
    font-size: 24px;
    font-weight: 200;
}

button{
    border: none;
    width: 15%;
    height: 40px;
    font-size: 18px;
    color: black;
    background-color: white;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
   
}
button:hover{
    color: white;
    background-color: rgb(0, 94, 255);
}




.sec{
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.sec-fir{
    width: 45%;
    height: 500px;
    justify-content: space-evenly;

}
.sec-sec{
 
    width: 45%;
   
    justify-content: space-evenly;
    margin-top: -50px;
}
.sec-sec img{
    height: 598px;
}
.mains{
    width: 70%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 250px;
    border-radius: 50px;
    display: block;
    text-align: center;
    margin-top: -400px;
    margin-left: 15%;
}
h2{
    font-size: 24px;
    padding: 50px;
}


.secn{
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.i{
    width: 45%;
    height: 500px;
    justify-content: space-evenly;

}

.bln{

    width: 45%;
    height: 500px;
    
}
.blank{
    background-color: pink;
    height: 600px;
    width: 45%;
    text-align: center;
    margin-top: 100px;
}
.blank h1{
    margin-top: 100px;
}

.secnd{
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 120px;
    align-items: center;
}

footer{
    width: 100%;
    height: 600px;
    background-color: black;
    margin-top: 150px;
    color: white;
    /* display: flex; */
}
.list{
    display: flex;
    width: 80%;
    margin-left: 10%;
    /* margin-top: 100px; */
    justify-content: space-evenly;
    /* align-items: center; */
}
 .list li{
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
}
.list ul{
    margin-top: 100px;
    font-size: 32px;
    
}

.list ul li:hover{
    color: rgb(0, 94, 255);
}

hr{
    margin-top: 50px;
    height: 2px;
}
.icon a{
    color: black;
}






